.popup-merchant-rating #stars .glyphicon {
	font-size: 20px;
	padding: 0px 3px;
}

.store-rating .glyphicon {
	font-size: 20px;
	padding: 0px 3px;
}
.store-rating  .glyphicon.glyphicon-star {
	color: var(--user-color);
}


.popup-merchant-rating #stars .glyphicon.glyphicon-star-empty {
	color: #C8C8C8;
}

.popup-merchant-rating textarea {
	height: 60px;
	padding: 5px 10px;
	width: 100%;
}

.popup-merchant-rating #stars .glyphicon.glyphicon-star {
	color: var(--user-color);
}

.popup-merchant-rating .starrr {
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 5px;
}

.store-rating .starrr {
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 5px;
}

.popup-merchant-rating .starrr+span {
	padding-left: 10px;
	vertical-align: 4px;
}
.popup-merchant-rating label {
    display: block;
    line-height: 14px;
    color: #999999;
    font-weight: 400;
}
.popup-merchant-rating textarea,
.popup-merchant-rating input
{
    border: 1px solid #767676;
    border-radius: 2px;
}
.popup-merchant-rating .feedback-popup-submitbtn, .popup-merchant-rating .feedback-popup-submitbtn:hover,
.popup-merchant-rating.feedback-popup-submitbtn:focus{
    border-radius: 2px;
}



.btn-invite-consumer {
    min-height: 30px !important;
    line-height: 30px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    color: var(--user-color) !important;
    box-shadow: none !important;
    border-radius: 0;
    border: 1px solid var(--user-color);
    font-weight: 700;
    font-size: 12px;
}


#modal-invite-consumer .modal-footer .btn-red {
	background-color: var(--user-color);
	border: none;
	border-radius: 0px;
	padding: 9px 50px;
	color: #fff;
}

#modal-invite-consumer.modal {
	top: 100px;
}
#modal-invite-consumer .modal-header p{
    color: #999;
    margin-top: 15px;
}
#modal-invite-consumer textarea.form-control{
    height: auto;
}

.item-discount-price {
    display: flex;
    flex-direction: column;
    float: right;
    text-align: right;
}